html {
	font: 62.5%/1.5 normal normal 'Nixie One', cursive;
}

body {
	color: #111;
	background: #fff;
	
	padding: 0;
	margin: 0;
}


.js body {
	background: #000;
}


.js #view {

  -webkit-transition: opacity .1s ease-in;
  transition: opacity .1s ease-in;

	opacity: 0;

}

.js.loaded.wf-active body {
	background: #fff;
}

.js.loaded.wf-active #view { opacity: 1 }



body.mood0 #stories li {
		background: #faf;
}
body.mood1 #stories li {
		background: #aaf;
}
body.mood2 #stories li {
		background: #afa;
}
body.mood3 #stories li {
		background: #faa;
}




a {
	color: #fff;
}

p {
	max-width: 50em;
}


#view {

	vertical-align: top;
}


#header {
	padding: 2% 4%;
}



#intro {

	float: left;	
	width: 36em;
	
	
/* 	font-size: 2em; */
	
	margin: 0 0 10% 0;
}



.js #filter {
	opacity: 0;

  -webkit-transition: opacity .5s 7s ease-in;
  transition: opacity .5s 7s ease-in;
}
.js.loaded.wf-active #filter {

	opacity: 1;

}


#filter {
	display: inline-block;

	width: 16em;
	height: 16em;


	margin: 5% 0 5% 10%;
	
	padding: 4%;
	background: #fe0;

	
  border-radius: 50%;
  border: solid #fe0;


  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

body.mood0 #filter {
		background: #faf;
		border-color: #faf;
}
body.mood1 #filter {
		background: #aaf;
		border-color: #aaf;
}
body.mood2 #filter {
		background: #afa;
		border-color: #afa;
}
body.mood3 #filter {
		background: #faa;
		border-color: #faa;
}




#filter fieldset {
	border: 0;
	
	padding: 0;
	
}

#filter legend {
	display: none;
	
	padding: 0;

	font-size: 1.5em;
	font-style: italic;
	
	text-transform: capitalize;
	
	margin: 0 0 2em 0;
}


#filter label {
  display: block;
  	
  padding: 0 2em;
	margin: 2em 0 5em 0;
	
	
}


#filter label span {
	display: block;
	float: left;

	width: 25%;
	
}
#filter label span:last-child {
	float: right;
	text-align: right;
}

#filter label span b {
	display: inline-block;

	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);

	font-size: 3em;
}

#filter label:after {
	display: block;
	content: "";
	clear: both;
}



#filter input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    
    margin: 0 0 1em 0;
}
#filter input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    border: none;
    border-radius: 0;
    background: #000;
}
#filter input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background: #000;
    margin-top: -1em;
    cursor: hand;
}
#filter input[type=range]:focus {
    outline: none;
}



.js #stories {
	opacity: 0;

  -webkit-transition: opacity .5s 8s ease-in;
  transition: opacity .5s 8s ease-in;
}
.js.loaded.wf-active #stories {

	opacity: 1;

}

#stories {
	clear: both;
	
	padding: 2% 4%;
	margin: 0 0 15% 0;
	
	
	height: 50em;
	
	overflow: hidden;
}
#stories ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#stories li {
	margin: 0 0 2% 0;

	padding: 2% 4%;
	
	font-size: 1.5em;

  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}



.inactive {
	display: none;
}



#footer {
	color: #fff;
	background: #333;

	padding: 2% 4%;
}



#about {
	margin: 0 0 5% 0;
}

#abouth3 {
	font-size: 1.5em;
}
#about p {
	font-size: 1.5em;
}

#credits aside {
	
}
#credits a {
	display: inline-block;
	width: 10em;
	
	text-decoration: none;
	
	width: 25%;
	
	margin: 0 5% 0 0;
}
#credits figure {
	width: 100%;
	margin: 0;
	padding: 0;
}
#credits figure img {
	width: 100%;
	height: auto;
}
#credits ficgaption {
	font-size: 1em;
}



